* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: linear-gradient(to right, #acbedf, #74ebd5);
  --secondary-color: #212121;
}

body {
  /* height: 100vh; */
  background: #74ebd5;
  background: linear-gradient(to right, #acbedf, #74ebd5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Make h1 tag - kep it in sight  */
  margin-top: 100px !important;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  width: auto;
  /* height: 100%; */
}

header.sticky {
  padding: 50px;
}
/* sticky : relative + fixed  */
section {
  /* display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 1rem; */
  /* perspective: 800px; required for preserve-3d on .card */
  z-index: 1;
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
  flex-wrap: wrap;
  padding: 1rem; /* adds space between cards and Lives counter */
  position: sticky;
  /* for responsive role */
  width: 100%;
  height: 500px;
  max-width: 600px;
}

img {
  transform: rotateY(180deg); /* card faces correct direction - L to R */
}

/* To prevent images overflowing  */
.card {
  width: 24%;
  height: 24%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px; /* args = x , y axis, blur */
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  background-color: white;
  backface-visibility: hidden;
}

.toggleCard {
  /* animation */
  transform: rotateY(180deg);
}

/* Responsive Design  */
/* all : screen, text, print  */
/* viewport 
=====================
desktop   1200px
laptop    1024px
tablet    768px
phone     480px 
*/

@media screen and (max-width: 600px) {
  section {
    justify-content: center;
  }
  .card {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .card {
    width: 130px;
    height: 130px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {

}


/* Modal pop up  */
.modal-container {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* Make it invisible while there are lives or life left */
  /* opacity: 0; */
  pointer-events: none;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: white;
  width: 500px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  color: chocolate;
  margin: 18px 0;
}

.game-reset {
  background-color: #f4b400;
  border-radius: 5px;
  padding: 12px;
  margin-top: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.game-reset a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

/* =============================================== */
/*             Light and dark theme                */
/* =============================================== */
.dark-theme {
  --primary-color: linear-gradient(to right, #101825, #080d29);
  --secondary-color: #c8b6b6;
}

.light-dark {
  cursor: pointer;
}

#icon {
  float: right !important;
  width: 30px;
}
